<a href="https://colab.research.google.com/github/lucassbarcelos/QuarentenaDados/blob/master/FirstAulaDataScience.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print("Lucas Barcelos")

Lucas Barcelos

In [4]:
nome_filme = "blackPanter"
print(nome_filme)

blackPanter

In [0]:
import pandas as pd

In [7]:
filmes = pd.read_csv("https://raw.githubusercontent.com/alura-cursos/introducao-a-data-science/master/aula0/ml-latest-small/movies.csv")
filmes.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [9]:
avaliacoes = pd.read_csv("https://raw.githubusercontent.com/alura-cursos/introducao-a-data-science/master/aula0/ml-latest-small/ratings.csv")
avaliacoes.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [10]:
avaliacoes.describe()

              userId        movieId         rating     timestamp
count  100836.000000  100836.000000  100836.000000  1.008360e+05
mean      326.127564   19435.295718       3.501557  1.205946e+09
std       182.618491   35530.987199       1.042529  2.162610e+08
min         1.000000       1.000000       0.500000  8.281246e+08
25%       177.000000    1199.000000       3.000000  1.019124e+09
50%       325.000000    2991.000000       3.500000  1.186087e+09
75%       477.000000    8122.000000       4.000000  1.435994e+09
max       610.000000  193609.000000       5.000000  1.537799e+09

In [12]:
avaliacoes.query("movieId == 1").describe()

           userId  movieId      rating     timestamp
count  215.000000    215.0  215.000000  2.150000e+02
mean   306.530233      1.0    3.920930  1.129835e+09
std    180.419754      0.0    0.834859  2.393163e+08
min      1.000000      1.0    0.500000  8.293223e+08
25%    155.500000      1.0    3.500000  8.779224e+08
50%    290.000000      1.0    4.000000  1.106855e+09
75%    468.500000      1.0    4.500000  1.348523e+09
max    610.000000      1.0    5.000000  1.535710e+09

In [15]:
avaliacoes.query("movieId == 1")["rating"].mean()

3.9209302325581397

In [19]:
medias = avaliacoes.groupby("movieId")["rating"].mean()
medias

movieId
1         3.920930
2         3.431818
3         3.259615
4         2.357143
5         3.071429
            ...
193581    4.000000
193583    3.500000
193585    3.500000
193587    3.500000
193609    4.000000
Name: rating, Length: 9724, dtype: float64

In [21]:
filmesMedia = filmes.join(medias,on="movieId")
filmesMedia.head()

   movieId  ...    rating
0        1  ...  3.920930
1        2  ...  3.431818
2        3  ...  3.259615
3        4  ...  2.357143
4        5  ...  3.071429

[5 rows x 4 columns]

In [36]:
filmesMedia.sort_values("rating",ascending=False)

      movieId  ... rating
7656    88448  ...    5.0
8107   100556  ...    5.0
9083   143031  ...    5.0
9094   143511  ...    5.0
9096   143559  ...    5.0
...       ...  ...    ...
5749    30892  ...    NaN
5824    32160  ...    NaN
5837    32371  ...    NaN
5957    34482  ...    NaN
7565    85565  ...    NaN

[9742 rows x 4 columns]

In [50]:

avaliacoes.rename(columns={"rating":"qtd"},inplace=True)
qtd_avaliacoes_filme = avaliacoes.groupby("movieId")["qtd"].count()
qtd_avaliacoes_filme

movieId
1         215
2         110
3          52
4           7
5          49
         ...
193581      1
193583      1
193585      1
193587      1
193609      1
Name: qtd, Length: 9724, dtype: int64

In [52]:
 filmesMedia.join(qtd_avaliacoes_filme,on="movieId")

      movieId                                      title  ...    rating    qtd
0           1                           Toy Story (1995)  ...  3.920930  215.0
1           2                             Jumanji (1995)  ...  3.431818  110.0
2           3                    Grumpier Old Men (1995)  ...  3.259615   52.0
3           4                   Waiting to Exhale (1995)  ...  2.357143    7.0
4           5         Father of the Bride Part II (1995)  ...  3.071429   49.0
...       ...                                        ...  ...       ...    ...
9737   193581  Black Butler: Book of the Atlantic (2017)  ...  4.000000    1.0
9738   193583               No Game No Life: Zero (2017)  ...  3.500000    1.0
9739   193585                               Flint (2017)  ...  3.500000    1.0
9740   193587        Bungo Stray Dogs: Dead Apple (2018)  ...  3.500000    1.0
9741   193609        Andrew Dice Clay: Dice Rules (1991)  ...  4.000000    1.0

[9742 rows x 5 columns]